@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Outfit';
    background-color: #D5E1EF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
}

.container {
    max-width: 320px;
   
    border-radius: 20px;
    background-color: white;
    padding: 18px;
    

}

img {
    width: 100%;
    border-radius: 10px;
}

h2, p {
    text-align: center; 
}
